.header{
    background-color: #f8f9fa;
    height: 60px;
    padding:0px 0px 0px 265px;
}
@media screen and (max-width: 991px){
    .header{
        padding:0px 0px 0px 5px;
    }
}
.iconDiv{
    float:right;
    margin-right:20px;
    margin-top:0.6%;
}
.iconDiv .iconHeader{
    float:right;
    margin-right:20px;
}
.iconDiv .iconLoginHeader{
    float:right;
}
.toggle-menu{
  float:left;
  cursor:pointer;
  transition: 0.2s cubic-bezier(.685,.0473,.346,1);
}
.toggle-menu.navbar-active{
    transition: 0.2s cubic-bezier(.685,.0473,.346,1);
    padding-left:265px;
}
@media screen and (min-width: 991px){
    .toggle-menu{
        display:none;
    }
}

.pageTitle{
    float:left;
    margin-left:20px;
    font-size: 30px;
    margin-top:0.6%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* #f8f9fa; */